.Coin-title {
    // font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    .card {
        margin-right: 5%;
    }

    .icon {
        float: left;
        font-size: 800%;
    }

    .listContent {
        margin-top: 0.5%;
        margin-left: 10%;
    }

    .heading{
       color: black;
       font-weight: bold;
       font-size: 120%;
    }
    .description{
        font-size:90%;
        color: #888;
        margin-right: 3%;
        
    }
}